<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExtentionsSiri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ExtentionsSiriUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Reps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RepsSiri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RepsSiriUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Siri Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Siri ExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Yolo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>YoloUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9212B7DB1E959AD000A26FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>924669861E9836F100119EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9246698F1E9836F100119EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>926DF5341EA15CE1004CB639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>926DF53D1EA15CE1004CB639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92D909C31E9ED6BF0058DEC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92D909CC1E9ED6BF0058DEC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E84B5D1EA807F0005D0E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E84B661EA807F0005D0E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
